<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
CREATE TABLE MENU (
	URL VARCHAR2(100) NOT NULL,
	SYS_GROUP VARCHAR2(3) NOT NULL,
	PARENT_URL VARCHAR2(100) NOT NULL,
	MENU_NAME VARCHAR2(200) NOT NULL,
	MENU_TYPE VARCHAR2(2) NOT NULL,
	MENU_LEVEL VARCHAR2(2) NOT NULL,
	ORDER_NUM VARCHAR2(2) NOT NULL,
	USE_YN CHAR(1) DEFAULT 'Y',
	TARGET_SYS_GROUP VARCHAR2(3) NOT NULL,
	REG_ID VARCHAR2(20) DEFAULT 'SYSTEM', 
	REG_DT DATE DEFAULT SYSDATE, 
	CNG_DT DATE
);


ALTER TABLE MENU ADD CONSTRAINT PK_MENU PRIMARY KEY (URL,SYS_GROUP);

COMMENT ON TABLE MENU IS '메뉴' ;
COMMENT ON COLUMN MENU.URL IS 'URL';
COMMENT ON COLUMN MENU.SYS_GROUP IS '시스템 그룹 WEB ,APP';
COMMENT ON COLUMN MENU.PARENT_URL IS '부모 URL R:root';
COMMENT ON COLUMN MENU.MENU_NAME IS '메뉴명';
COMMENT ON COLUMN MENU.MENU_TYPE IS '메뉴 타입 01:NEW 02:추천 05:일반';
COMMENT ON COLUMN MENU.MENU_LEVEL IS '레벨';
COMMENT ON COLUMN MENU.ORDER_NUM IS '정렬순서';
COMMENT ON COLUMN MENU.USE_YN IS '사용여부';
COMMENT ON COLUMN MENU.TARGET_SYS_GROUP IS '대상 시스템 그룹';
COMMENT ON COLUMN MENU.REG_ID IS '등록자ID';
COMMENT ON COLUMN MENU.REG_DT IS '등록일';
COMMENT ON COLUMN MENU.CNG_DT IS '변경일';

 -->
<mapper namespace="base.biz.menu.MenuMapper">
    <select id="selectMenuList" resultType="java.util.HashMap">
		SELECT /* MenuMapper.selectMenuList 메뉴 조회 */
				LEVEL
				, URL
				, MENU_NAME
				, ORDER_NUM 
		  FROM MENU
		 WHERE USE_YN = 'Y' 
		   AND TARGET_SYS_GROUP = 'APP'
		 START WITH PARENT_URL = 'R'
		CONNECT BY PRIOR URL = PARENT_URL
		ORDER SIBLINGS BY ORDER_NUM
    </select>

</mapper>
